.row {
    display: flex;
    justify-content: center;

}

.row div {
    border: 1px solid rgb(17, 17, 17);
    padding: 10px;
    margin: 5px
}

#resultDiv {
    position: fixed;
    background-color: rgb(255, 174, 0);
    left: 100%;
    /* display:none; */
    transition: left .5s
}

#resultDiv:hover {
    background-color: rgb(17, 66, 139);
}